{# このファイルは base.html #}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    {% block title %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metadata %} {% endblock %}
  </head>
<body>
  <header class="header">
    <h1>
      <a href="/">Exsample Zola Blog</a>
    </h1>
    <nav class="nav">
      <a href="/list">List</a>
      <a href="/about">About</a>
    </nav>
  </header>
  <main class="main">
    {% block content %} {% endblock %}
  </main>
</body>
</html>