{% extends "base.html" %}
{% import "blogs.html" as blogs %}

{% block title %}
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.summary | striptags }}">
{% endblock title %}

{% block metadata %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="{{ page.permalink }}" />
    <!--<meta property="og:image" content="" />-->
    <meta property="og:description" content="{{ page.summary | striptags }}" />
    <meta property="og:published_time" content="{{ page.date }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.summary | striptags }}" />
{% endblock metadata %}

{% block content %}
    <h1> {{ page.title }} </h1>
    <p>{{ page.date }}</p>
    {{ page.content | safe }}
{% endblock content %}
